<h1>Contribution Page</h1>

<p><%= @story_text %></p>

<%= form_for :contribution, :url => {action: 'post_writing'} do |f| %>
	<%= hidden_field_tag 'contribution[parent_id]', @assigned_node.id %>
	<%= f.text_area :text %>
	<%= f.submit %>
<% end %>

Above your contribution box, you’ll see the previous contributions that are now part of the story.  It’s your turn to add your own contribution and make the story awesome.  Your contribution can be anywhere from a few words to a paragraph, as long as your contribution adds a new idea that moves the story along.  Usually, we recommend aiming for two or three sentences so you make a substantial contribution to the story.

At the top of the page, you can see how many more contributions will be made to the story. Use this to determine where you are in the story (beginning, middle, or end) so you can style your addition accordingly.
