<h1>Rating Page</h1>

	<div id="instructions">
		<a href="">Instructions</a>
		<p style="display:none;">
This is where you get to direct how the story will take shape.  Please answer the questions about how you feel these two contributions work with the preceding story. Once enough people have given their input, the arbiter who guides the story will pick how it will develop based on your ratings. The only way they’ll be able to decide is with your help! </p>
	</div>

<h2>Trunk Text</h2>
<p><%= @trunk_text %></p>

<h2>Branch 1</h2>
<p><%= @branch_texts[0] %></p>

<h2>Branch 2</h2>
<p><%= @branch_texts[1] %></p>

<%= form_for :rating_params, url: {action: 'post_rating'} do |f| %>
	<%= hidden_field_tag 'rating_params[node1_id]', @assigned_nodes[0].id %>
	<%= hidden_field_tag 'rating_params[node2_id]', @assigned_nodes[1].id %>

	<h2>Rating 1</h2>
	<% (1..4).each do |rating_num| %>
		<p><%= survey_questions[rating_num - 1] %></p>
		<% (1..5).each do |rating_val| %>
			<%= f.radio_button 'rating1' + rating_num.to_s, rating_val, checked: rating_val == 3 ? true : false %>
			<%= f.label 'rating1' + rating_num.to_s, rating_val.to_s, value: rating_val %>
			<br />
		<% end %>
		<br />
	<% end %>

	<h2>Rating 2</h2>
	<% (1..4).each do |rating_num| %>
		<p><%= survey_questions[rating_num - 1] %></p>
		<% (1..5).each do |rating_val| %>
			<%= f.radio_button 'rating2' + rating_num.to_s, rating_val, checked: rating_val == 3 ? true : false %>
			<%= f.label 'rating2' + rating_num.to_s, rating_val.to_s, value: rating_val %>
			<br />
		<% end %>
		<br />
	<% end %>

	<%= f.submit %>
<% end %>

<script>
instructionsVisible = false
$("#instructions a").click(function(e) {
	e.preventDefault()
	if (instructionsVisible) {
		instructionsVisible = false;
		$("#instructions p").slideUp();
	} else {
		instructionsVisible = true;
		$("#instructions p").slideDown();
	}
})
</script>