<div id='paperpage'>
	<h1>Contribute to the Story</h1>

	<%= form_for :contribution, :url => {action: 'post_writing'} do |f| %>
	 	<%= hidden_field_tag 'contribution[parent_id]', @assigned_node.id %>
	 	<table>
	 		<tr>
 				<td><b><%= @story.title %></b></td>
 			</tr>
	 		<tr>
 				<td><%= @story_text %><br><br></td>
 			</tr>
        	<tr>
 				<td><%= f.text_area :text, :class => 'writetxtarea'%></td>
 			</tr>
 			<tr>
 				<td><%= f.submit 'Save Contribution', :class => 'writesubmit' %></td>
 			</tr>
	<% end %>
</div>
