<div id='paperpage'>
    <h1>Sign up as an Arbiter!</h1>
    <% unless @arbiter.errors.nil? %>
        <% @arbiter.errors.full_messages.each do |msg| %>
            <div class="alert alert-error"><%= msg %></div>
        <% end %>
    <% end %>
    <%= form_for @arbiter, url: '/arbiter/create' do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit "Sign up!", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
