<div id='paperpage'>
    <h1>Sign up as an Arbiter!</h1>
    <% unless @arbiter.errors.nil? %>
        <% @arbiter.errors.full_messages.each do |msg| %>
            <div class="alert alert-error"><%= msg %></div>
        <% end %>
    <% end %>
    <%= form_for @arbiter, url: '/arbiter/create' do |f| %>
        <table>
            <tr>
                <td><%= f.label :username %></td>
                <td><%= f.text_field :username %></td>
            </tr>
            <tr>
                <td><%= f.label :password %></td>
                <td><%= f.password_field :password %></td>
            </tr>
            <tr>
                <td><%= f.label :password_confirmation %></td>
                <td><%= f.password_field :password_confirmation %></td>
            </tr>
            <tr>
                <td><%= f.submit "Sign up!", class: "btn btn-large btn-primary" %></td>
            </tr>
        </table>
    <% end %>
</div>
