<!DOCTYPE html>
<html>
<head>
  <title>Storrest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- http://stackoverflow.com/questions/8465411/how-to-assign-different-stylesheets-in-a-rails-project -->
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
